<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>

    <form action="/login" method="POST">
        <div class="holder">
            <div class="profile_pic"></div>
            <div class="input-container">
                <div class="input_image"></div>
                <input type="tel" name="text" class="input" placeholder="Phone number" maxlength="10">
            </div>
            
            <div class="input-container">
                <div class="input_image"></div>
                <input type="password" name="text" class="input" placeholder="Password">
            </div>
        </div>
        <div class="login">
            <button type="submit" class="login_button">Login</button>
        </div>
        <div class="options">
            <a href="/signup" class="new_user">new User?</a>
            <a href="/forgot" class="forgot">Forgot Password?</a>
        </div>
        <div class="incorrect"><%=Incorrect%></div>
    </form>
</body>
</html>