body
{
    background-color: #5151b3;
    font-family: monospace;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

table
{
    border-spacing: 1vw;
    width: 100%;
    text-align: center;
}

.plan
{
    border: .3vw solid black;
    padding: .8vw;
    width: 30%;
    border-radius: 2vw;
    font-size: 1.3vw;
    font-weight: 900;
}

.new_plan
{
    height: auto;
    text-align: center;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: .5s;
}

.new_plan:hover
{
    background-color: rgb(219, 219, 219);
}

.name
{
    background-color: white;
    padding: .7vw;
    font-size: 3vw;
    font-weight: 900;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    border: .4vw solid black;
    border-radius: 5vw;
    text-align: center;
}

.main
{
    background-color: rgb(255, 255, 255);
    height: 60%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: .4vw solid black;
    border-radius: 2vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container
{
    height: 70vh;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


