body
{
    display: flex;
    flex-direction: column;
    gap: 5vw;
    background-color: black;
    margin: 0;
    border: 0;
}

table
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

table th
{
    position: sticky;
    top: 0;
}

th
{
    font-size: 1.5vw;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: rgb(255, 255, 255);
    padding: 1vw;
}

td
{
    font-size: 1.3vw;
    text-align: center;
}

input[type="radio"] {
    -webkit-appearance: none;
    padding: 0;
    box-sizing: unset;
    border-radius: 50%;
    background-color: rgb(139, 17, 17);
    border: 3px solid black;
    margin: 0;
    vertical-align: middle;
}

input[type="radio"]:checked {
    background-color: rgb(67, 220, 105);
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }

.top
{
    background-color: #202020;
    padding: 1vw;
    font-size: 1vw;
    font-weight: 900;
    border-radius: .4vw;
    color: white;
    font-family: 'DM Sans', sans-serif;
}

.profile
{
    margin-top: 2vw;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    justify-content: space-between;
}

.counter
{
    display: flex;
    height: 100%;
    justify-content: center;
}

.logo
{
    background-image: url("lnmGamers_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    width: 80vw;
    height: 20vh;
    font-size: 50px;
    margin-top: 3vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.slots_container
{
    width: 70vw;
    border-radius: 1vw;
    margin-top: 3vw;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
}

.buttons
{
    width: 70vw;
    height: 4vw;
    margin-top: 5vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vw;
    display: flex;
    justify-content: space-between;
}

button
{
    font-family: 'DM Sans', sans-serif;
    font-size: 1.3vw;
    font-weight: 900;
    padding: 1vw;
    border: 0;
    border-radius: 1vw;
}

button:hover
{
    cursor: pointer;
}

.past_booking
{
    background-color: rgb(18, 167, 231);
}

.book_now
{
    background-color: rgb(22, 222, 35);
}

.past_booking:hover
{
    background-color: rgb(17, 157, 216);
}

.book_now:hover
{
    background-color: rgb(21, 212, 34);
}

.value
{
    width: 3vw;
}

.image
{
    height: 5vw;
    width: 15vw;
}

.triangle-buttons {
    align-items: center;
    padding: 0.5vw;
}

.triangle-buttons__triangle {
    border-style: solid;
    height: 0px;
    width: 0px;
}

.triangle-buttons__triangle--r {
    border-color: transparent transparent transparent #727272;
    border-width: 0.5vw 0 0.5vw 0.5vw;
}

.triangle-buttons__triangle--l {
    border-color: transparent #727272 transparent transparent;
    border-width: 0.5vw 0.5vw 0.5vw 0;
}

@media(max-width: 650px)
{
    .slots_container
    {
        height: auto;
    }

    th
    {
        font-size: 10px;
    }

    td
    {
        font-size: 10px;
    }

    .triangle-buttons__triangle--r {
        border-width: 1vw 0 1vw 1vw;
    }
    
    .triangle-buttons__triangle--l {
        border-width: 1vw 1vw 1vw 0;
    }
    
}

@media(max-width: 1000px)
{
    .top
    {
        font-size: 10px;
        padding: 10px;
    }

    .slots_container
    {
        width: 93%;
    }

    button
    {
        font-size: 10px;
        padding: 6px;
    }

    .buttons
    {
        height: 27px;
    }
}


